<h1>Cursos#index</h1>
<p>Find me in app/views/cursos/index.html.erb</p>

<table border=1 bordercolor="red">
  <tr> <td><b>Grado</b></td> <td><b>Materia</b></td> <td><b>Profesor</b></td> <td><font color="blue"> id</font></td> </tr>

  <% @curs.each do |cur| %>
  <tr>
    <td> <%= cur.grado %></td>
    <td> <%= cur.materia %></td>
    <td> <%= cur.profesor.nombre %></td>
    <td> <%= link_to cur.id, curso_path(cur) %></td>
  </tr>

<% end %>
</table>

<br>
<%= link_to "Crear nuevo", new_curso_path %> <br>

<br> <%= link_to "index profesores", profesores_path %> <br>

<br> <%= link_to "index estudiantes", estudiantes_path %>
