<h1>Estudiantes#index</h1>
<p>Find me in app/views/estudiantes/index.html.erb</p>

<table border=1 bordercolor="red">
  <tr><td><b>ID</b></td> <td><b>Nombre</b></td> <td><b>Apellido</b></td> <td><b>Documento</b></td>
  <td><b>Grado</b></td> </tr>

  <% @ests.each do |est| %>
  <tr>
    <td> <%= est.id %> </td>
    <td> <%= est.nombre %></td>
    <td> <%= est.apellido %></td>
    <td> <%= link_to est.documento, estudiante_path(est) %></td>
    <td> <%= est.curso.grado %></td>
  </tr>

<% end %>
</table>

<br>
<%= link_to "nuevo estudiante", new_estudiante_path %> <br>

<br> <%= link_to "index cursos", cursos_path %> <br>

<br> <%= link_to "index profesores", profesores_path %>
